
      :root {
	  --lightBlue: rgb(202, 233, 245);
	  --darkBlue: rgb(134, 197, 216);
	  --serifFont: "Garamond", "Baskerville";
	  --sansSerifFont: "Playfair display";
      }

		
	body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(180deg, var(--lightBlue), var(--darkBlue)); /* image HERE!!!!! */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}
      
      body {  font-family: var(--serifFont); }

      h1 { font-family: var(--serifFont); font-size: 3.3em; display: block; margin:auto;  padding: 0.5em; font-weight: 400; text-align: center;}

      h2 { font-family: var(--serifFont); font-size: 1.8em; display: block; margin: auto; font-weight: 400; text-align: center; font-variant-caps: small-caps; }

	  h3 { font-family: var(--serifFont); font-size: 1.5em; display: block; margin: auto; font-weight: 400; text-align: center; font-style: italic; padding-top: 20px; padding-bottom: 20px; }

      p.centered { text-align: justify; font-size: 1.3em; margin: auto; padding: 1em 0em;}
      
      p.small { text-align: justify; font-size:1em;}

      .nava { style="position: fixed; top: 0px; width:100%; background-color: var(--lightBlue);  z-index:2;" }

      .nava a { padding: 0em 1em 0em 1em; font-size: 1.2em; color: black; border: none; text-decoration: none; }
      .nava a:hover { border-bottom: solid 1px black; color: black;}

      .container { display: flex; align-items: stretch; flex-direction: row; }

      a.invisible { text-decoration: underline; font: inherit; color: inherit; }
      a.invisible:hover { text-decoration: underline; color: blue; }

      li { text-align: justify; font-size: 1.3em; }

 	  hr { border: none; border-top: 1px solid black; margin: auto; margin-top: 25px; margin-bottom: 25px; width: 80%; }
